.story-feed {
    height: 80vh;
    overflow-y: scroll;
}
::-webkit-scrollbar {
    width: 10px;
    align-self: left;
  }
  
  /* Track */
  ::-webkit-scrollbar-track:hover {
    box-shadow: inset 0 0 1px grey; 
    border-radius: 5px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: gray; 
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: gray; 
  }

.story-card {
    margin: 10px 10px 10px 10px;
    padding: 10px;
    border: 2px solid #33333333;
    background-color:#ff660022;
    border-radius: 12px;
}

.story-card:hover {
    background-color:#ff660044;
}

.asset-title {
    font-size: larger;
    color: rgb(17, 17, 17);
}

a {
    font-style: normal;
    text-decoration-line: none;
    color:inherit;
}

a:hover {
    text-decoration-line: underline;
    color: inherit;
}

.asset-detail {
    color: grey;
    font-size: smaller;
}

.asset-button {
    margin: 4px
}

.align-right {
    text-align: right;
}

.header {
    height: 10vh;
    display: flex;
    margin: 10px 10px 10px 10px;
    padding: 10px;
    border: 2px solid #33333333;
    background-color:#ff6600;
    border-radius: 12px;
    align-items: center;
}

.header .logo {
    border: 1px solid white;
    object-fit: fill;
}

.header a {
    margin: 10px;
}

.header .title {
    padding-left: 4px;
    margin: auto auto auto 0;
    font-size: 30px;
    font-weight: bold;
}